/* INDEX & REGISTER*/
/* COLOR GREEN: #036300; */
a{
    color: #59ca12;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

button{
    width: 10rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    background-color: #575f7762;
    color: #67e419;
    border-radius: 0.5rem;
    margin-top: 2rem;
    cursor: pointer;
}

button:hover
{
    color:white;
    background-color: rgba(11, 211, 61, 0.753);
    transition: 1s;
}

input{
    background-color: #575f7762;
    color: lawngreen;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 0.5rem;
    width: 100%;
}
canvas
{
    width: 100%;
    height: 99%;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    z-index:-1;
    filter: blur(8px);
}




html{
    cursor: crosshair;
    background-color: black;
    color: lawngreen;
    font-family: Monospace, sans-serif;
    overflow-y: hidden;
}
header{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 3rem;
    font-size: 3rem;
    text-align: center;
    font-size: 4rem;
    background-size: 5rem;
    background-repeat: no-repeat;
    background-position: center left;
}
main{
    margin-top: 6rem;
    line-height: 300%;
}
main form fieldset{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
}
main form fieldset div{
    width: 15rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: left;
}
span
{
    margin-top: 2rem;
}

footer
{
    position: absolute;
    bottom: 1%;
    width: 100%;
    text-align: center;
}

/* INDEX */
html#index main
{
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(20, 19, 19);
    width: 25rem;
    height: 25rem;
    border-radius: 2rem;
    opacity: 0.93;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

html#register main
{
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(20, 19, 19);
    width: 25rem;
    height: 25rem;
    border-radius: 2rem;
    opacity: 0.93;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

/* LANDING */
html#landingPage
{
    overflow: hidden;
}
div#landings
{
    opacity: 0.93;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
html#landingPage div#landing1
{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(20, 19, 19);
    width: 35%;
    height: 80%;
    border-radius: 2rem;
}
html#landingPage div#landing2
{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(20, 19, 19);
    width: 35%;
    height: 80%;
    border-radius: 2rem;
    justify-content: center;
}
html#landingPage main
{
    position:relative;
    margin-top: 0;
    height:100%;
    cursor: crosshair;
}
/* Challengelist */
html#landingPage #challengeList
{
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin-bottom: 2rem;
}
html#landingPage #challengeList button
{
    padding: 1rem 5rem 1rem 5rem;
    width: 100%;
    transition: 0.5s;
}
/* welcomeboard */

html#landingPage #landing2 h2
{
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 2rem;
}
html#landingPage #landingDivContent2
{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
html#landingPage div#avatarDiv
{
    display: flex;
    justify-content: center;
}
html#landingPage #avatar
{
    width: 6rem;
    background-repeat: no-repeat;
    object-fit: contain;
    border-radius: 5%;
    border: 0.2rem solid white;
}
html#landingPage input#files
{

    margin-top: 1rem;
    text-align: center;
    width: 20rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    background-color: #575f7762;
    color: #67e419;
    border-radius: 0.5rem;
    margin-top: 2rem;
    cursor: pointer;
}
html#landingPage input#files:hover
{
    color:white;
    background-color: rgba(11, 211, 61, 0.753);
    transition: 0.5s;
}
html#landingPage #landingDiv
{
    height: 85%;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}

html#landingPage button#btnLogout{
    width: 10rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    background-color: #575f7762;
    color: rgba(216, 96, 48, 0.945);
    border-radius: 0.5rem;
    margin-top: 5rem;
    cursor: pointer;
}

html#landingPage button#btnLogout:hover
{
    color:white;
    background-color: rgba(216, 96, 48, 0.945);
}

/* Challenges */
html#landingChallenge main
{
    margin-top: 0;
    height:100%;
}
html#landingChallenge .landingChallenge
{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(20, 19, 19);
    width: 90%;
    height: 90%;
    border-radius: 2rem;
}
html#landingChallenge h1
{
    margin-top: 5rem;
    font-size: 4rem;
    margin-bottom: 8rem;
}
html#landingChallenge #landingChallengeContent
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: space-evenly;
}
html#landingChallenge img
{
    width: 20%;
    height: 70%;
    object-fit: contain;
}
/* Challenges */
.challengeFailed
{
    position: absolute;
    color: red;
    bottom: 10%;
}
